html, body {
  /* height: 100%; */
  /* margin: 10;
  padding: 10; */
  background-color: #131622;
  color: beige;
}

a:link{
  color:antiquewhite;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  align-items: center;
}

canvas {
  display: block;
}

[id=gui-div] {
  margin: auto;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  align-items: center;
  max-width: 600px;

}

:root {
  --button-bg-color: #202020;
  --button-checked-color: #383838;
  --button-border-width: 2px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display:inline-flex;
  cursor: pointer;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  background: var(--button-checked-color)
}

input[type=radio] + label {
  border-left: solid var(--button-border-width) var(--button-checked-color);
}
.radio-group {
  border: solid var(--button-border-width) var(--button-checked-color);
  display: inline-block;
  margin: 20px;
  overflow: hidden;
}