html, body {
  height: 100%;
  /* margin: 10;
  padding: 10; */
  background-color: #131622;
  color: beige;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  display: block;
}
